<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
        with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="{{ path('categories') }}" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
                Categorías
            </p>
            </a>
        </li>  
        <li class="nav-item">
            <a href="{{ path('products') }}" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
                Productos
            </p>
            </a>
        </li>    
    </ul>
</nav>