{% extends 'base.html.twig' %}

{% block title %}Productos{% endblock %}

{% block body %}
    <br /><br />
    <h3>Productos</h3>
    <a href="{{ path('create_products') }}" class="btn btn-primary">
        <i class="fa fa-plus"></i> Crear Producto
    </a>
    <div class="table-responsive">
        <table id="data" class="table table-hover " >
            <thead>
                <th>Código</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Marca</th>
                <th>Categoría</th>
                <th>Precio</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.code }}</td>    
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.brand }}</td>
                        <td>{{ product.category.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>
                            <a href="{{ path('edit_products', {
                                id: product.id
                            }) }}" class="btn btn-primary"><i class="fa fa-edit"></i> Editar</a>
                            <a href="{{ path('delete_products', {
                                id: product.id
                            }) }}" class="btn btn-danger" onclick="return(confirm('¿Seguro que desea eliminar este producto?'))"><i class="fa fa-trash"></i> Eliminar</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">No existen resultados</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
                $('#data').DataTable();
            });
        });
    </script>
{% endblock %}
