{% extends 'base.html.twig' %}

{% block title %}Categorías{% endblock %}

{% block body %}
    <br /><br />
    <h3>Categorías</h3>
    <a href="{{ path('create_categories') }}" class="btn btn-primary">
        <i class="fa fa-plus"></i> Crear categoría
    </a>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>
                            {% if category.active %}
                                Sí
                            {% else %}
                                No
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('edit_categories', {
                                id: category.id
                            }) }}" class="btn btn-primary"><i class="fa fa-edit"></i> Editar</a>
                            <a href="{{ path('delete_categories', {
                                id: category.id
                            }) }}" class="btn btn-danger" onclick="return(confirm('¿Seguro que desea eliminar esta categoría?'))"><i class="fa fa-trash"></i> Eliminar</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">No existen resultados</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}